@font-face {
    font-family: Sansation_Regular;
    src: url(/MapleAdmin/config/fonts/Sansation_Regular.ttf);
}

body {
	background-size:20px 20px;
	background-image: url("/MapleAdmin/config/img/overlay.png");
	background-repeat: repeat;
	font-family:Sansation_Regular;
}

hr {
	border: 1px dashed grey;
	opacity: 0.5;
}

h1,h2,h3,h4 {
	color: #BA0000;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

#footer {
	float: left;
	text-align: center;
	width: 100%;
}

.logo_box {
	margin: 10px auto;
	height: 55px;
	width: 300px;
	background-size:300px 55px;
	background-repeat: no-repeat;
	background-image: url("/MapleAdmin/config/img/logo.png");
}

.image_box {
	float: left;
	width: 40px;
	height: 52px;
	border: 1px solid black;
	margin: 2px;
}

.image_box2 {
	float: left;
	width: 1px;
	height: 52px;
	margin-left: 1px;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.counter_fix {
	position: relative;
	top: 34px;
	left: -42px;
	padding-left: 1px;
	font-size: 14px;
	background-color: black;
	width: 38px;
	opacity: 0.5;
}

.version_fix {
	position: relative;
	top: 27px;
	left: 300px;
	width: 24px;
	color: #BA0000;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.panel-footer, .panel-body {
	text-align: center;
	font-size: 18px;
}

.font_size_15 {
	font-size: 15px;
}

.color_red {
	color: #BA0000;
}